html {
	font-size: 10px;
}
#pageTitle {
	display: flex;
	justify-content: center;
}
.calendarDay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(90% / 7);
	height: 100px;
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid black;
	/*font-weight: bolder;
	font-size: 20px;*/
}
.resv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	color: black;
	font-size: 1.3rem;
}
.horizontalGutter {
 	margin-right: 0.5%;
}
.verticalGutter {
	margin-top: 1%;
}
.weekOfDayContainer {
	display: flex;
	justify-content: center;
	width: calc(90% / 7);
	border-radius: 5px;
}
.weekOfDay {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	font-weight: bolder;
	font-size: 20px;
}
.calendarHeader {
	display: flex;
	justify-content: center;
}
.dayContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.thisMonth {
	background-color: aliceblue;
}

.thisMonth:hover {
	background-color: lavenderblush;
}

.thisMonth:not( :hover ) {
	background-color: aliceblue;
}
.prevMonth, .nextMonth {
	background-color: lightyellow;
}

.calendarMonthYear {
	display: flex;
	justify-content: space-evenly;
	font-weight: bolder;
	font-size: 20px;
}
.calendar {
	text-align: center;
}

.bolderFont {
	font-weight: bolder;
}
.sunday {
	color: red;
	font-size: 1.6rem;
}

.saturday {
	color: blue;
	font-size: 1.6rem;
}
.notWeekend {
	font-size: 1.6rem;
}

#reservationBoard {
	display:none;
	font-size: 1.6rem;
}