.menuBar {
    overflow: hidden;
    background-color: rgb(35, 59, 110);
}

.menuBar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu {
    float: left;
    overflow: hidden;
}

.menu .menuTab {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.menuBar a:hover, .menu:hover .menuTab {
    background-color: red;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.menu-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    z-index: 2;
}

.menu-content a:hover {
    background-color: #ddd;
}

.menu:hover .menu-content {
    display: block;
}

.menuItem:hover {
    color: #ff0000;
}
